@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('/assets/images/bg-intro-mobile.png');
    background-color: $backgroundRed;
    @media (min-width: 640px) {
        background-image: url('/assets/images/bg-intro-desktop.png');
    }
    .container {
        main {
            max-width: 327px;
            margin: 0 auto;
            h1 {
                margin-top: 88px;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: -0.29px;
                font-weight: bold;
                margin-bottom: 16px;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                margin-bottom: 64px;
            }
        }
        article {
            .subscription {
                box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 327px;
                height: 88px;
                background-color: #5e54a4;
                border-radius: 10px;
                p {
                    max-width: 194px;
                    font-size: 15px;
                    letter-spacing: 0.27px;
                    margin: 0;
                    span {
                        font-weight: bold;
                    }
                }
            }
            section {
                box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
                margin-bottom: 68px;
                padding: 24px;
                width: 327px;
                border-radius: 10px;
                margin-top: 24px;
                background-color: white;
                form {
                    input {
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        line-height: 26px;
                        width: 279px;
                        height: 56px;
                        display: block;
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid #dedede;
                        font-weight: 600;
                        margin-bottom: 16px;
                        padding-left: 19.41px;
                    }
                }
                .claim {
                    width: 279px;
                    height: 56px;
                    border-radius: 5px;
                    background-color: #38cc8b;
                    border: none;
                    margin-bottom: 8px;
                    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.14688);
                    p {
                        color: white;
                        font-size: 15px;
                        line-height: 26px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
                p {
                    margin: 0 auto;
                    max-width: 249px;
                    font-size: 11px;
                    line-height: 21px;
                    color: #bab7d4;
                    span {
                        color: #ff7979;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            main {
                max-width: 525px;
                text-align: left;
                h1 {
                    margin-top: 0;
                    font-size: 50px;
                    line-height: 55px;
                    letter-spacing: -0.52px;
                    margin-bottom: 11px;
                }
                p {
                    margin-bottom: 0;
                }
            }
            article {
                .subscription {
                    width: 540px;
                    height: 60px;
                    p {
                        max-width: none;
                    }
                }
                section {
                    margin-bottom: 0;
                    width: 540px;
                    padding: 40px;
                    form {
                        input {
                            margin-bottom: 20px;
                        }
                    }
                    .claim {
                        width: 460px;
                    }
                    p {
                        max-width: none;
                    }
                }
            }
        }
    }
}
